@import "bootstrap";
@import "onionskin/textarea_autogrow";
@import "onionskin/glyphicon";

body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(184, 225, 242), rgb(92, 177, 113));
    background-color: rgb(92,177,113);
}
.help-block.form-control-feedback.invalid + .help-block.form-control-feedback,.help-block.form-control-feedback.valid + .help-block.form-control-feedback
{
    display: none;
}
.help-block{
    width:100%;
}
.dt-responsive
{
    border-spacing: 0;
}
@media print {
body, html{background-image: none; background-color: white;}
}
