@import "bootstrap";
@import "onionskin/textarea_autogrow";
@import "onionskin/glyphicon";

body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
    background-color: rgb(12,97,33);
}
.card .card-block, input, select, option, textarea
{
    background-color: #292b2c !important;
    color: white !important;
}
.help-block.form-control-feedback.invalid + .help-block.form-control-feedback,.help-block.form-control-feedback.valid + .help-block.form-control-feedback
{
    display: none;
}
.help-block{
    width:100%;
}
@media print {
body, html{background-image: none; background-color: white;}
.card .card-block, input, select, option, textarea
{
    background-color: white !important;
    color: black !important;
}
}
