.vertical-menu li {
  list-style-type: none;
}
body {
  background-color: #CACACA;
}
.align-right {
  margin-left: auto;
  margin-right: 0;
  display: block;
  padding-top: 2em;
  text-align: right;
  width: 100%;
}
.button {
  color: #1A1A1A;
  font-style: normal;
  text-decoration: none;
  padding: 12px;
  border: 1px solid black;
  border-radius: 6px;
}
.rnd-block {
  border: 1px black solid;
  border-radius: 25px;
  padding: 25px;
}
.column-1024 {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background-color: #CACACA;
}
.row {
  display: block;
}
.install-page {
  margin-top: 4em;
  background-color: #EAEAEA;
}
.structured-form label {
  width: 12em;
  display: block;
  margin-top: 1em;
}
.structured-form input[type="text"],
.structured-form input[type="password"] {
  padding: 10px;
  border: none;
  box-sizing: border-box;
  width: 100%;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
.structured-form input:focus,
.structured-form input[type="password"]:focus {
  border-bottom: solid 2px #969696;
}
